<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado libre</title>
</head>
<body>
    <img src="/images/logo-mercado-liebre.svg" alt="">
    
    <header>
        
        <div>barra de busqueda</div>
        <div>compra en cuotas y sin tarjeta de credito</div>
        <ul>
            <li><a href="/ofertas">Ofertas</a></li>
            <li><a href="/tiendas">Tiendas Oficiales</a></li>
            <li><a href="/vender">Vender</a></li>
            <li><a href="/help">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/sign_up">Creá tu cuenta</a></li>
            <li><a href="/log_in">Ingresá</a></li>
            <li><a href="/historial_compras">Mis compras</a></li>
        </ul>
        
    </header>

    <img src="/images/img-home-banner.jpg" alt="">

    <main>

        <section>
            <h1>Basado en tu ultima visita</h1>

            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <h4>$6770</h4>
            <h4>40% OFF</h4>
            <h4>cafetera moulinex</h4>

            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <h4>$230.000</h4>
            <h4>20% off</h4>
            <h4>MacBook Pro 2019</h4>
            
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <h4>$70.500</h4>
            <h4>10% off</h4>
            <h4>Samsung Galaxy S10</h4>

            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <h4>$23.200</h4>
            <h4>5% off</h4>
            <h4>SmartTv Samsung 43"</h4>  

        </section>
        <section>
            <h1>Ofertas!!!</h1>
            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <h4>$6770</h4>
            <h4>40% OFF</h4>
            <h4>cafetera moulinex</h4>

            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <h4>$230.000</h4>
            <h4>20% off</h4>
            <h4>MacBook Pro 2019</h4>
            
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <h4>$70.500</h4>
            <h4>10% off</h4>
            <h4>Samsung Galaxy S10</h4>

            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <h4>$23.200</h4>
            <h4>5% off</h4>
            <h4>SmartTv Samsung 43"</h4>
        </section>

    </main>

    <footer>

        <section>
            <p lang="UTF-8">
                <h2>Pagá con tarjeta o en efectivo</h4>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>


        <section>
            <p lang="UTF-8">
                <h2>Envío gratis desde $ 2.500</h2>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        

        <section>
            <p lang="UTF-8">
                <h2>Seguridad, de principio a fin</h2>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.
            </p>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>           
        
    </footer>
    
</body>
</html>