<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {'title': 'login'})  %>

<body>
    <%- include('partials/header')  %>

    <form class="form-box" action="/users/login" method="POST">
        <% if(typeof errors != "undefined") { %>
            <ul>
                <% for (let i = 0; i < errors.length;i++ ) { %>                                    
                    <li>
                        <%= errors[i].msg %> 
                    </li>
                <% } %>
            </ul>
            
        <% } %>
        <label for="">Nombre de usuari@</label>
        <input type="text" placeholder="clonmorfo" name="username" required>
        
        <br>
        <label for="">Contraseña</label>
        <input type="password" placeholder="**********" name="password" required>
        <span class="feedback">Ingrese contraseña correcta</span>
        <br>
        <button type="submit" class="login">Ingresar</button>
    </form>
    <%- include('partials/footer')  %>
</body>
</html>