<footer >
    <div class="flex-footer">
        <div class="hover-color">
            <i class="fas fa-credit-card"></i>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p> 
        </div>

        <div class="hover-color">
            <i class="fas fa-gift"></i>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>    
        </div>

        <div class="hover-color">
            <i class="fas fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
        </div>
    </div>
    
    <div class="copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>                   
    
</footer>