<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/CSS/styles.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function() {
            $("#hamburguesa").on("click", function() {

                if ($(".main-navbar").hasClass("active")) {
                    $(".main-navbar").removeClass("active");
                } else {
                    $(".main-navbar").addClass("active");
                }
            })
        });
    </script>
</head>