<header class="main-header" >
    <div class="main-header-top-bar" >
        <!-- logo -->
        <div> 
            <a href="http://localhost:3000/"  >
                <img class= "main-logo" src="/images/logo-mercado-liebre.svg" alt="logo MercadoLiebre" >
            </a>
        </div>
            
        
        <!-- Buscador -->
        <form action="" class="search">
            <div class="search-box">
                <input action="" type="search" name="search" id="search" placeholder="Buscar productos o marcas.">
            </div>
            <br>
            <div>
                <i class="fas fa-search"></i>
            </div>
        </form>
            
        
        
        <!-- Mensaje -->
        <div class="header-text">
            <h2>
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
                
            </h2>
        </div>
    </div>
    
    <div id="hamburguesa">
        <a href="#" >
            <i class="fas fa-bars" ></i>
        </a>
    </div>
    

    <nav class="main-navbar">            
        <ul class="left-navbar" >
            <li>
                <a href="#">
                    <span>Ofertas</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span>Tiendas oficiales</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span>Vender</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span>Ayuda</span>
                </a>
            </li>
        </ul>

        <ul class="rigth-navbar" >
            <li>
                <a href="/users/register"><span>Creá tu cuenta&nbsp;</span><i class="far fa-id-card"></i></a>
            </li>

            <li>
                <a href="/users/login"><span>Ingresá&nbsp;</span><i class="fas fa-sign-in-alt"></i></a>
            </li>

            <li>
                <a href="#"><span>compras&nbsp;</span><i class="fas fa-shopping-basket"></i></a>
            </li>
        </ul>

    </nav>

    
</header>  